<div class="mydatepicker" (click)="$event.stopPropagation();">
	<img class="calendar-picker-icon datepicker-icon" src="/images/datepicker.png" />
	<img class="calendar-picker-icon cancel-icon" src="/images/close-circled.png" (click)="init();"/>
	<input class="mydatepicker-label" type="text" (click)="showDatePanel()" [(ngModel)]="label" placeholder="请选择日期"/>

	<div class="calendar" *ngIf="show">
		<div class="calendar-input-wrap">
			<input type="text" placeholder="请选择日期" disabled="disabled" [(ngModel)]="label"/>
		</div>
		<div class="calendar-date-panel">
			<div class="calendar-header">
				<div class="calendar-prev-year-btn" (click)="prevYear()">
					<img src="/images/calendar-prev-year.png">
				</div>
				<div class="calendar-prev-month-btn" (click)="prevMonth()">
					<img src="/images/calendar-prev-month.png">
				</div>

				<span class="calendar-header-year" (click)="setType = (setType == 3 ? 1 : 3)">{{year}}年</span>
				<span class="calendar-header-month" (click)="setType = (setType == 2 ? 1 : 2)">{{month}}月</span>

				<div class="calendar-next-month-btn" (click)="nextMonth()">
					<img src="/images/calendar-next-month.png">
				</div>
				<div class="calendar-next-year-btn" (click)="nextYear()">
					<img src="/images/calendar-next-year.png">
				</div>
			</div>
			<div class="calendar-body">
				<table class="calendar-days" *ngIf="setType == 1">
					<thead>
						<tr>
							<th>日</th>
							<th>一</th>
							<th>二</th>
							<th>三</th>
							<th>四</th>
							<th>五</th>
							<th>六</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let item of days">
							<ng-container *ngFor="let day of item">
								<td *ngIf="day.disable" class="disable">{{day.day}}</td>
								<td *ngIf="!day.disable" [class.checked]="day.str==time" [class.not-this-month]="day.type!='current'" (click)="selectDay(day)">{{day.day}}</td>
							</ng-container>
						</tr>
					</tbody>
				</table>
				<table class="calendar-months" *ngIf="setType == 2">
					<tr *ngFor="let item of months">
						<td *ngFor="let _month of item" (click)="setMonth(_month.id)">{{_month.name}}</td>
					</tr>
				</table>
				<table class="calendar-years" *ngIf="setType == 3">
					<tr *ngFor="let item of years;">
						<td *ngFor="let _year of item" (click)="setYear(_year)" [class.not-this-month]='_year.disable'>{{_year.name}}</td>
					</tr>
				</table>
			</div>
			<div class="calendar-footer">
				<div class="time">
					<input type="text" [(ngModel)]="hour" placeholder="小时">
					<span>:</span>
					<input type="text" [(ngModel)]="mins" placeholder="分钟">
					<span>:</span>
					<input type="text" [(ngModel)]="seconds" placeholder="秒">
				</div>
				<span class="calendar-footer-btn" (click)="today()">今天</span>
				<span class="calendar-footer-btn calendar-footer-btn-primary" (click)="confirm()">确定</span>
			</div>
		</div>
	</div>
</div>