.switch{
    min-width: 60px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.switch .button{
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 2px;
}

.switch.close{
    background: rgba(0,0,0,.25);
}

.switch.open{
    background: #108ee9;
}

.switch.close .button{
    left: 2px;
}

.switch.open .button{
    right: 2px;
}

.switch .open-label{
    color: #fff;
    position: absolute;
    left: 10px;
}

.switch .close-label{
    color: #fff;
    position: absolute;
    right: 10px;
}