.num{
    height: 30px;
    line-height: 30px;
    padding: 0 0 0 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    min-width: 50px;
    position: relative;
    overflow: hidden;
}

.num input{
    width: calc(100% - 30px);
    height: 100%;
    border: none;
    outline: none;
    vertical-align: text-bottom;
}

.num .buttons{
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 30px;
}

.num .buttons .button{
    cursor: pointer;
    text-align: center;
    height: 15px;
    line-height: 15px;
    overflow: hidden;
    color: rgba(0,0,0,.43);
    font-size: 12px;
    border: 1px solid #ddd;
    font-family: anticon !important;
}

.num .buttons .button:hover{
    background: #f4f4f4;
}

.num .buttons .button:active{
    box-shadow: inset 0 0 2px #999;
}

.num .buttons .button span{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 12px;
    height: 12px;
    display: inline-block;
    font-size: 12px;
    font-size: 7px\9;
    -webkit-transform: scale(.58333333) rotate(0deg);
    -ms-transform: scale(.58333333) rotate(0deg);
    transform: scale(.58333333) rotate(0deg);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=1, M12=0, M21=0, M22=1)";
    color: rgba(0,0,0,.43);
}

.num .buttons .button:first-child{
    border-top: 0;
    border-right: 0;
}

.num .buttons .button:last-child{
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
}

.num .buttons .up:before{
    content: "\E61E";
}

.num .buttons .down:before{
    content: "\E61D";
}