<div class="dr-right-table">
    <div id="dr-right-table-container" class="dr-right-table-container" (scroll)="tableScroll($event)">
        <div class="dr-table1" id="table1">
            <table border="1" class="dr-table1-header dr-fix-title">
                <thead style="">
                    <tr>
                        <th style="width:100px;">产品Id</th>
                        <th style="width:150px;">通用名称</th>
                    </tr>
                </thead>
            </table>
            <table border="1" class="table-algorithm">
                <thead class="_thead" id="_thead1" style="z-index:1;">
                    <tr>
                        <th style="width:100px;">产品Id</th>
                        <th style="width:150px;">通用名称</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of productList">
                        <td style="width:100px;" title="{{item.productid}}">{{item.productid}}</td>
                        <td style="width:150px;" title="{{item.chineseproductname}}">{{item.chineseproductname}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="dr-table2" id="table2">
            <table border="1" class="dr-table2-header dr-fix-title" style="right: 0;min-width:800px;">
                <thead class="_thead" id="_thead2" style="z-index:0;">
                    <tr>
                        <th width="25%">药品名称</th>
                        <th width="30%">生产厂家</th>
                        <th width="10%">字典剂型</th>
                        <th width="10%">产品剂型</th>
                        <th width="10%">规格</th>
                        <th width="15%">审核状态</th>
                    </tr>
                </thead>
            </table>
            <table border="1" class="table-algorithm" style="min-width:800px;">
                <thead class="_thead" id="_thead2" style="z-index:0;">
                    <tr>
                        <th width="25%">药品名称</th>
                        <th width="30%">生产厂家</th>
                        <th width="10%">字典剂型</th>
                        <th width="10%">产品剂型</th>
                        <th width="10%">规格</th>
                        <th width="15%">审核状态</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of productList">
                        <td width="25%" title="{{item.chinesemedname}}">{{item.chinesemedname}}</td>
                        <td width="30%" title="{{item.chinesemanufacturename}}">{{item.chinesemanufacturename}}</td>
                        <td width="10%" title="{{item.dictformulation}}">{{item.dictformulation}}</td>
                        <td width="10%" title="{{item.formulation}}">{{item.formulation}}</td>
                        <td width="10%" title="{{item.chinesespecification}}">{{item.chinesespecification}}</td>
                        <td width="15%" title="{{statusList[item.ruleStatus]}}">{{statusList[item.ruleStatus]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="dr-table3">
            <table border="1" class="dr-table3-header dr-fix-title">
                <thead class="_thead" style="z-index:1;">
                    <tr>
                        <th style="width:62px;">操作</th>
                    </tr>
                </thead>
            </table>
            <table border="1" class="table-algorithm">
                <thead class="_thead" style="z-index:1;">
                    <tr>
                        <th style="width:62px;">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of productList" (click)="selectedPro(item)">
                        <td>
                            <a target="_blank" (click)="setParams(item)" class="dynatree-title" style="color:#108ee9;" *ngIf="item.ruleStatus == 1 || item.ruleStatus == null"
                                href="{{host}}mxgraph/rule-editor/{{ruleType}}/{{selectionNodeSubjectType}}/{{selectionNodeRuleSetCode}}/0/{{subjectId}}/true">添加</a>

                            <a target="_blank" (click)="setParams(item)" class="dynatree-title" style="color:#108ee9;" *ngIf="item.ruleStatus == 0" href="{{host}}mxgraph/rule-editor/{{ruleType}}/{{selectionNodeSubjectType}}/{{selectionNodeRuleSetCode}}/0/{{subjectId}}/true">编辑</a>

                            <a target="_blank" (click)="setParams(item)" class="dynatree-title" style="color:#108ee9;" *ngIf="item.ruleStatus == 2"
                                href="{{host}}mxgraph/rule-editor/{{ruleType}}/{{selectionNodeSubjectType}}/{{selectionNodeRuleSetCode}}/0/{{subjectId}}/true">审核</a>

                            <a target="_blank" (click)="setParams(item)" class="dynatree-title" style="color:#108ee9;" *ngIf="item.ruleStatus == 3"
                                href="{{host}}mxgraph/rule-editor/{{ruleType}}/{{selectionNodeSubjectType}}/{{selectionNodeRuleSetCode}}/0/{{subjectId}}/true">重审</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="clear mt10 mb0" style="position: relative;z-index: 2;">
        <div id="pageBreak">
            <span>
                <span *ngIf="table.itemCountPath">共{{table.totalCount}}条</span>
                <div class="page-size-container" (click)="pageSizeShow = !pageSizeShow;$event.stopPropagation();">
                    <span>{{table.pageSize}}</span>
                    <i class="anticon fr page-size-icon" [class.anticon-down]="!pageSizeShow" [class.anticon-up]="pageSizeShow"></i>
                    <ul class="page-size-list" *ngIf="pageSizeShow">
                        <li (click)="selectSize('10',$event)">10</li>
                        <li (click)="selectSize('20',$event)">20</li>
                        <li (click)="selectSize('50',$event)">50</li>
                        <li (click)="selectSize('100',$event)">100</li>
                        <li (click)="selectSize('200',$event)">200</li>
                    </ul>
                </div>
                条/页
            </span>
            <span *ngIf="table.pageCountPath">{{table.totalPageCount}}页</span>
            <div style="float: right; font-size: 0;">
                <button class="ant-btn" [disabled]="table.currentPage == 1" (click)="prePage()">
                    <span class="anticon anticon-left"></span>
                    <span>上一页</span>
                </button>


                <button class="ant-btn" [disabled]="table.currentPage >= table.totalPageCount" (click)="nextPage()">
                    <span class="anticon anticon-right"></span>
                    <span>下一页</span>
                </button>

                <span class="ml10">跳至</span>
                <input #blinkPageInput type="number" min="1" class="ant-input w50" style="transform:scale(.9);padding: 4px 5px;" [(ngModel)]="blinkPage" (keyup.enter)="specificPage()" (keyup)="checkPage(blinkPageInput.value)">
                <span>页</span>

                <button class="ant-btn ml5" (click)="specificPage()">
                    <span>跳转</span>
                </button>
            </div>
        </div>
    </div>
</div>