.ip-table{
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  height:100%;
  overflow-y:hidden;
  display:flex;
  flex-flow:column;
  /*border: 1px solid #D9D9D9;
  border-radius: 4px;*/
}
table
{
    border-collapse:collapse;
    width: 100%;background: #fff;
    margin: 0;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
    box-sizing: content-box;
    table-layout: fixed;
}
    table th{
        max-height: 58px;
        background: #f9f9f9;
    }

/* .table tr.selected, .table tr.checked,
.table tr.selected, .table tr.focus{
    background: #e3f2ff;
} */

.table tr.selected,
.table tr.selected, .table tr.focus{
    background: #e3f2ff !important;
}


.table tr:hover{
    background: #e3f2ff !important;
    cursor: pointer;
}
.input-page{
    width:50px;
}

.table-body td{
    font-weight: 500;
}
ip-tbody,tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.hide-scroll{
    margin-right: -17px; overflow-y: scroll;
}
.fixedContainer{
    position: absolute;
    left: 0;top: 0;right: 0;bottom: 0; padding-right: 17px;
    overflow: hidden;
    display:-webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display:-moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display:-ms-flexbox;      /* TWEENER - IE 10 */
    display:-webkit-flex;     /* NEW - Chrome */
    display:flex; 
}

#pageBreak{
    padding: 10px;
    border-top: 1px solid #D9D9D9;
    color: #666;
}
#pageBreak .curpage{
    border: 1px solid #ddd;
    min-width: 40px;display: inline-block;border-radius: 4px;
    line-height: 28px;text-align: center;
}
#pageBreak .blink-page-ipt{
    width: 80px;
    margin-left: 50px;
    display: inline-block;
    vertical-align: middle;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
#pageBreak .btn-default:focus{
    background-color: #fff;
    border-color: #ccc;
    outline: none;
}
#pageBreak span{
  font-size: 13px;
}

/*************************** checkbox 样式******************************/
@keyframes hover-color {
    from {
      border-color: #c0c0c0;
    }
    to {
      border-color: #3e97eb;
    }
  }
  
  .magic-checkbox {
    position: absolute;
    display: none;
  }
  
  .magic-checkbox[disabled] {
    cursor: not-allowed;
  }
  
  .magic-checkbox+label {
    /* position: relative;
    display: block;
    padding-left: 20px; */
    cursor: pointer;
    vertical-align: middle;
    margin-right: 10px;
  }
  
  .magic-checkbox+label:hover:before {
    animation-duration: 0.4s;
    animation-fill-mode: both;
    animation-name: hover-color;
  }
  
  .magic-checkbox+label:before {
    /* position: absolute;
    top: 0;
    left: 0; */
    display: inline-block;
    width: 14px;
    height: 14px;
    content: '';
    border: 1px solid #d9d9d9;
  }
  
  .magic-checkbox+label:after {
    position: absolute;
    display: none;
    content: '';
  }
  
  .magic-checkbox[disabled]+label {
    cursor: not-allowed;
    color: #e4e4e4;
  }
  
  .magic-checkbox[disabled]+label:hover,
  .magic-checkbox[disabled]+label:before,
  .magic-checkbox[disabled]+label:after {
    cursor: not-allowed;
  }
  
  .magic-checkbox[disabled]+label:hover:before {
    border: 1px solid #e4e4e4;
    animation-name: none;
  }
  
  .magic-checkbox[disabled]+label:before {
    border-color: #e4e4e4;
  }
  
  .magic-checkbox:checked+label:before {
    animation-name: none;
  }

  .magic-checkbox:checked+label:after {
    display: block;
  }
  
  .magic-checkbox+label:before {
    border-radius: 3px;
  }
  
  /* .magic-checkbox+label:after {
    width: 5.71428571px;
    height: 9.14285714px;
    left: 12.571429px;
    top: 9.142857px;
    box-sizing: border-box;
    transform: rotate(45deg);
    border-width: 2px;
    border-style: solid;
    border-color: #fff;
    border-top: 0;
    border-left: 0;
  } */
  
  .magic-checkbox:checked+label:before {
    border: #3e97eb;
    background: #3e97eb;
    background-image: url('../../images/ok-icon.svg');
    background-size: 96%;
    background-repeat: no-repeat;
  }
  
  .magic-checkbox:checked[disabled]+label:before {
    border: #c9e2f9;
    background: #c9e2f9;
  }

.page-size-container{
    display: inline-block;
    width: 50px;
    border: 1px solid #D9D9D9;
    position: relative;
    text-align: center;
    height: 28px;
    line-height: 28px;
    border-radius: 4px;
    width: 60px;
    transform: scale(0.9);
}

.page-size-icon{
    margin-top: 7px;
    margin-right: 6px;
    transform: scale(0.7);
}

.page-size-list{
    position: absolute;
    top: -143px;
    left: -1px;
    border: 1px solid #D9D9D9;
    background: #fff;
}

.page-size-list li{
    width: 58px;
}

.page-size-list li:hover{
  background: #E7F2FA;
}

#pageBreak .ant-btn{
  color: #999;
  transform: scale(0.9);
  padding: 4px 10px;
  border-radius: 4px;
}


table {
    border: 1px solid #E9E9E9;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
    box-sizing: content-box;
    table-layout: fixed;
}

table tr td,
table tr th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    /* width: 10%; */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: normal;  
}

.dr-table1 {
    float: left;
    width: 250px;
    z-index: 1;
}

.dr-table1 .table-algorithm{
    box-shadow: 2px -2px 5px #D9D9D9;
}

.dr-table3 .table-algorithm{
    box-shadow: -2px -2px 5px #D9D9D9;
}

.dr-table2{
    overflow-x: auto;
    width: calc(100% - 314px);
    float: left;
    height: 100%;
    overflow-y: hidden;
}

.dr-table3 {
    float: left;
    width: 62px;
    z-index: 1;
}


.dr-table1, 
.dr-table2,
.dr-table3{
    position: relative;
}

.dr-fix-title{
    position: absolute;
    left: 0;
    top: 0;
}

.dr-left-tab{
    display: inline-block;
    width: 388px;
    height: 100%;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #D9D9D9;
    font-size: 12px;
}

.dr-left-search,
.dr-right-search{
    padding: 10px;
    border-bottom: 1px solid #E9E9E9;
}

.dr-left-tree{
    padding: 10px;
    height: calc(100% - 51px);
    overflow: auto;
}

.dr-right-tab{
    display: inline-block;
    width: calc(100% - 398px);
    height: 100%;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #D9D9D9;
    vertical-align: bottom;
    font-size: 12px;
    position: relative;
}

.dr-right-table{
    padding: 10px;
    height: calc(100% - 51px);
    overflow: auto;
}

.dr-right-table .dr-right-table-container{
    height: calc(100% - 60px);
    overflow: auto;
    position: relative;
    z-index: 1;
}

.dr-right-table .dr-right-table-container .dr-table1,
/*.dr-right-table .dr-right-table-container .dr-table2,*/
.dr-right-table .dr-right-table-container .dr-table3{
    height: 100%;
}

.dr-sel-container{
    display: inline-block;
    width: 80px;
}

.dr-link{
    color: #108EE9;
}

.dr-right-tip{
    height: 32px;
    line-height: 32px;
    margin: 10px;
    padding-left: 10px;
    border: 1px solid #ADD8F7;
    border-radius: 4px;
    background: #ECF6FD;
    position: relative;
}

.dr-right-tip img{
    position: absolute;
    top: 9px;
}
.dr-right-tip span{
    margin-left: 16px;
}