.cascader{
	height: 30px;
	line-height: 30px;
	cursor: pointer;
	border: 1px solid #ddd;
	border-radius: 4px;
	position: relative;
}

.cascader .label{
    padding: 0 10px;
}

.cascader .cascader-list{
	position: absolute;
	top: 30px;
	border-radius: 4px;
    background: #fff;
    box-shadow: 0 1px 6px rgba(0,0,0,.2);
}

.cascader .cascader-list ul{
    list-style: none;
    min-width: 111px;
    min-height: 180px;
    display: inline-block;
	border-right: 1px solid #ddd;
    vertical-align: bottom;
}

.cascader .cascader-list ul:last-child{
	border-right: none;
}

.cascader .cascader-list ul li{
    cursor: pointer;
    white-space: nowrap;
    position: relative;
    height: 30px;
    line-height: 20px;
    padding: 5px;
}

.cascader .cascader-list ul li.selected{
    background: #f7f7f7;
    font-weight: 600;
}

.cascader .cascader-list ul li.expand:after {
    font-family: anticon;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\E61F";
    display: inline-block;
    font-size: 12px;
    font-size: 8px\9;
    -webkit-transform: scale(.66666667) rotate(0deg);
    -ms-transform: scale(.66666667) rotate(0deg);
    transform: scale(.66666667) rotate(0deg);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=1, M12=0, M21=0, M22=1)";
    zoom: 1;
    color: rgba(0,0,0,.43);
    position: absolute;
    right: 8px;
}